/*------Font Styling--*/
body {
    font-family: 'Lunasima', sans-serif;


}

/*------Colours--*/
.contents .btn {
    margin-top: 10px;
    --bs-btn-bg: #999999;
    --bs-btn-border-color: #999999;
    --bs-btn-hover-bg: #dc3545;
    --bs-btn-hover-border-color: #dc3545;
    --bs-btn-active-bg: #999999;
    --bs-btn-active-border-color: #999999;
}

.btn-primary {
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-active-bg: #dc3545;
    --bs-btn-active-border-color: #dc3545;
}

.hero-text {
    color: rgb(255, 255, 255);
}

.hero-welcome {
    color: rgb(255, 255, 255);
}

/*------Navbar Styling--*/

.container {
    padding-left: 2.5%;
    margin: 0;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}

.navbar {
    background-color: #dc3545;

}

.navbar-nav {
    margin-left: 0;
}

.navbar-brand {
    font-family: 'Lunasima', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    margin-right: 0%;
    padding-right: 2.5%;
}

.nav-item {
    padding-right: 15px;
}

.navbar-name {
    padding-top: 7%;
}

.navbar-nav .nav-link {
    font-family: 'Lunasima', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
}

.nav-link:hover{
    color: #212529;
}

.nav-link.active:hover{
    color: #212529;
}

footer.footer {
    background-color: #212529;
    color: white;
}

/*------Hero Image Styling-*/
.hero-section {
    background-image: url("../images/hero-imagee.jpg");
    background-size: cover;
    background-position: center;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(223, 223, 223);
}

.hero-content {
    max-width: 1000px;
    padding-top: 5%;
    padding-bottom: 10%;

}

.hero-content h1 {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;

}

/*------Main Content Section Styling-*/

.container-wrapper {
    padding-top: 20px;
    padding-bottom: 10px;
}

.features-container {
    margin-top: 20px;
}

.features {
    margin-bottom: 20px;
}

.contents {
    background-color: #eeeeee;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 40%;
    width: 100%;
    height: 95%;

}

.contents img {
    margin-bottom: 10px;
    margin-right: 100px;
}

.main-content {
    display: grid;
    place-items: center;
    gap: 50px;
}


/*------Footer Styling--*/
footer.footer {
    background-color: #212529;
    color: white;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    gap: 15px;
}

.footer-right {
    display: flex;
    gap: 15px;
    padding-right: 2.5%;
}

.social-icon,
.contact-icon {
    font-size: 20px;
    color: white;
}

.social-icon:hover,
.contact-icon:hover {
    color: #dc3545;
}
